.main {
    display: flex;
    --s: 100px;
    --m: 4px;
}

.main div {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547);
    background: black;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}