.youtube
{
    height: 300px;
    width: 500px;
}

#devs
{
    height: 200px;
    width: 250px;
}

#supermario
{
    height: 675px;
    width: 850px;
}

table
{
    background-color: #c84c0c;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    color: #fcc;
}

td
{
    border: 3px solid black;
}

th
{
    border: 3px solid black;
}

header h1
{
    color: black;
    font-family: Seurat, cursive, sans-serif;
    font-size: 100px;
    font-stretch: expanded;
    font-style: oblique;
    font-weight: bold;
    word-spacing: 15px;
}

header
{
    align-content: center;
    align-items: center;
    background-color: #00a800;
    border-top: 5px dotted black;
    border-left: 5px dotted black;
    border-right: 5px dotted black;
    border-radius: 1000px 1000px 0 0;;
    margin: 0 25%;
    padding: 25px;
    text-align: center;
}

main
{
    color: #c84c0c;
    background-color: #fc9838;
    font-family: Calibri, fantasy, serif;
    font-size: 25px;
    font-weight: 600;
    margin: 10%;
    padding: 15px;
    word-spacing: 2px;
}

footer h1
{
    color: white
}

body
{
    color: #fcc;
    background-color: #5c94fc;
    align-content: center;
    align-items: center;
    font-family: Seurat, sans-serif;
    text-align: center;
}
