/* box-sizing for including padding */
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: Fira Mono, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #201B3C;
}


div {
    margin: 12px;
    padding: 10px;
    width: 100%;
    max-width: 600px;
}

textarea {
    resize: none;
    margin-top: 10px;
}

fieldset {
    border-color: white;
}

label {
    padding-left: 30px;
}

label::after {
    content: ":";
}

input,
select {
    margin-top: 15px;
}

#output-tel {
    margin-left: 30px;
    font-size: 14px;
}
